html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    background: url('https://www.baylorcountylibrary.org/merry-christmas-red-ball.jpg/@@images/image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    font-family: 'Roboto', sans-serif;
}

.content {
    position: fixed;
    top: 5vh;
    right: 0;
    width: 50%;
    height: 60%;
    overflow: scroll;
    background-color: transparent;
    backdrop-filter: blur(3px);
    padding: 0px;
    margin: 0px;
}

.title {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
    width: 100%;
}

img {
    width: 20vw;
}

h1 {
    font-size: 48px;
    text-align: center;
    width: 100%;
}

.wishlist {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ol {
    width: 60%;
    padding: 0px;
    margin: 0px;
}

li {
    width: 100%;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    body {
        background: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/when-is-christmas-dec-25-2-1599244197.jpg');
        background-size: cover;
        color: #fff;
    }
    .content {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
    }
    a:link {
        color: white;
    }
    a:visited {
        color: white;
    }
    img {
        width: 60vw;
    }
}